{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1> Les 3 dernieres séries dans la catégorie {{ category.name }}</h1>
    {% for program in programs %}
        <h2>{{ program.id }} / {{ program. title }}</h2>
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { id: program.id }) }}">
        Voir la fiche</a>
    {% endfor %}
    <br>
     <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}